################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BookStoreUsingDotnetCoreMvc/.vs/BookStoreUsingDotnetCoreMvc
/BookStoreUsingDotnetCoreMvc/BookStoreUsingDotnetCoreMvc/bin/Debug/netcoreapp3.1
/BookStoreUsingDotnetCoreMvc/BookStoreUsingDotnetCoreMvc/obj
/BookStoreUsingDotnetCoreMvc/BookStoreUsingDotnetCoreMvc/wwwroot/lib
